html {
  header {

    .navbar-toggler:focus,
    .navbar-toggler:active {
      outline: none;
      box-shadow: none;
    }
  }

  main {
    padding-top: $navbar-height;

    .left-content {
      padding-top: $main-content-page-y * 4;

      .screenshot {

        // text-align: center;
        .phone {
          max-height: 460px;
          width: auto;
          object-fit: contain;
          vertical-align: bottom;
        }
      }
    }

    .right-content {
      padding-top: $main-content-page-y * 4;

      .title {
        color: $text-primary;
      }

      .btn-download {
        max-width: 220px;
        display: block;

        .fa-apple {
          font-size: 21px;
        }

        &:last-child {
          background-color: $disabled;

          &:hover {
            color: black;
          }
        }

      }

      .coolapk {
        display: block;
        color: $text-mute;
        font-size: 12px;
        font-style: italic;
        padding: 14px 4px;
      }

    }

    @include media-breakpoint-down(md) {
      .left-content {
        padding-top: $main-content-page-y;

        .screenshot {
          .android {
            position: relative;
            z-index: 10;
          }

          .iPhone {
            position: absolute;
            right: $page-padding-x;
            z-index: 9;
          }
        }
      }

      .right-content {
        padding-top: $main-content-page-y;

        .title {
          margin: auto;
          font-size: 2rem;
          text-align: center;
        }

        .btn-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .btn {
            min-width: 80%;
            box-shadow: none;
          }
        }
      }
    }

  }

  footer {
    .text-muted {
      color: $text-mute !important;

      a {
        color: inherit;
      }
    }
  }

}