// Base styling for the navbar
body {
  background: black;
}
#mainNav {
  box-shadow: $box-shadow;
  background-color: $black;
  transition: background-color 0.2s ease;
  .navbar-brand {
    .logo {
      height: 36px;
      width: 36px;
    }
  }

  .nav-item {
    i {
      color: white;
      font-size: 22px;
      padding: 5px 10px;
    }
  }



}
